<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis et labore harum voluptatibus. Ad, harum reiciendis commodi sed labore quam sapiente, numquam illo voluptates nemo obcaecati provident, asperiores esse quidem!</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com </li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000 </li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000 </li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos direitos reservados
    </section>
</footer>
<!--footer é o rodapé da application-->
<!--para chamar o lorem ipsurum sem precisar dá ctrl+c ctrl+v vc precisa apenas digitar dentro da tag paragrafo o lorem e digitar enter-->
<!--para digitar a tag direto com o nome da classe vc so precisa digitar a tag.nomeDACLass e ele já cria tudo <tag class="nomeDAClass">-->
<!--para se criar uma lista sem precisar ficar copiando e colando digite ul>li*3    esse comando cria uma ul com 3 li dentro dessa tag ul-->
<!--para escrever codigos mais rapidos como esse uso um Emmet-->
<!--esse formato de email@email ou telefone é chamado de placeholder-->
