<section class="product-list">
    <div class="product-list__card" *ngFor="let produto of produtos"> <!--essa diretiva *ngFor é para chamar uma lista, de um produto de muitos produtos... lá de produtos.ts // esse ultimo of produtos é uma propriedade que preciso acrescentar no arquivo component.ts-->
        <a  routerLink="/produtos/{{produto.id}}" class="product-list__link">
            <img [src]="produto.imagem">
            <h2 class="product-list__name">
                {{ produto.descricao }}
            </h2>
            <p class="product-list__price">
                {{ produto.preco | currency: "BRL"}}
            </p>
            <p class="product-list__price-description">
               {{ produto.descricaoPreco }}
            </p>
            <button class="product-list__buy-button" type="button"> Comprar </button>
        </a>
    </div>
</section>
